/*
This small additional .CSS file has been created for two reasons.
1. Because on the very 'wordy' submission form, changing the legend helps to
a heavier, larger font and different colour helps to break up the page / make
it more readable.

2. The requirement for this weeks says that there needs to be a CSS, so there is
a CSS (even though Chris's one is more than adequate!)
*/

.relegend {
    width: 100%;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 5px;
    color: darkblue;
    font-size: larger;
    border-bottom: 1px solid #e5e5e5;
}

/* 
    Created on : 17-Jun-2015, 21:07:09
    Author     : Tim.Haines
*/

