html, body, #map-canvas {
               
    height: 100%;
    margin: 0px;
    padding: 0px
}

.filter h4{
    margin:15px 0px 10px 0px;
}
.filter {
    position: absolute;
    top: 50px;
    right: 5px;
    width : 200px;
    //height : 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size : 0.5em;
    border: 1px solid grey;
    padding: 10px ;
    border-radius: 5px;
    
    
    /* Week 05 : Add background color and make it Transparent  */
    background-color: #EEEEEE;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}


ul {
    color:red;
    font-size: 0.7em;
}